/* @import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css); */
@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
}
@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff');
}

*{
    box-sizing: border-box;
}

body{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Godo', sans-serif;
	display: block;
}

div{
	/* background-color: #58FA82; */
	/* background-clip: content-box; */
	box-sizing: border-box;
}

#map {
	width: 100%;
	height: 100%;
	z-index: 0;
}

#side_left{
    position: fixed;
    width: fit-content;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index : 1;
    display: flex;
}

#side_right{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index : 2;
}

#legend{
    position: fixed;
    right: 0;
    top: 0;
    margin: 10px 10px;
}

.legend > div{
    width: 20px;
    height: 20px;
}

#graph-icon{
    position: fixed;
    top: 0;
    right: 0;
    width: 50px;
    margin: 300px 10px 0 0;
    padding: 10px;
    background-color: rgba(256, 256, 256, 0.8);
    border-radius: 100px;
    cursor: pointer;
}

#graph-icon:hover{
    background-color: rgba(153, 204, 255, 0.8);
}

#graph-icon > img{
    width : 100%;
}

#plot-graph{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 30px 80px;
    width: 400px;
    height: 200px;
}

#plot{
    height: 200px;
}

.back{
    width: 40px;
    height: 40px;
    background-color: rgba(256, 256, 256, 0.9);
    cursor: pointer;
}

.back:hover{
    background-color: rgba(153, 204, 255, 0.8);
	color: white;
}

.back img{
    padding: 13px;
    width: 100%;
}

#current{
    position: fixed;
    top: 0;
    left: 0;
    width: fit-content;
    height: 80px;
    margin: 20px 0 0 0;
}

#current > div{
    width: 80px;
    height: 100%;
    padding: 10px;
    display: inline-block;
    margin:0;
    z-index: 3;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    float:left;
    position: relative;
}

#current > #building{
    margin-left: -80px;
     z-index : 3;
}

#current > #floor{
    margin-left: -80px;
    z-index : 2;
}

#current > #room{
    margin-left: -80px;
    z-index : 1;
}