#sidebar_floor{
    width:40px;
    padding-top:130px;
    background-color: rgba(255,255,255, 0.5);
    
    border-left: 0.5px solid rgba(255,255,255, 0.5);
}

#sidebar_floor ul li{
    padding: 10px 0;
    text-align: center;
}

#sidebar_floor ul li:hover{
    background-color: #FE2E2E;
	color: white;
    cursor: pointer;
}