#sidebar_main_wide{
	width: 20%;
	max-width: 280px;
	height: 100%;
	padding: 20px;

	position: absolute;
	top: 0;
	float: left;
	z-index: 1;

	background-color: rgba(255, 255, 255, 0.8);
}

#sidebar_main_wide > .title{
    height: 120px;
}

#sidebar_main_wide ul li{
	padding: 10px 0;
	cursor: pointer;
    font-size:30px;
}

#sidebar_main_wide ul li:hover{
	padding: 10px 20px;
	margin: 0 -20px;
	background-color: #FE2E2E;
	color: white;
}

#sidebar_main_wide .title{
	text-align: center;
}

#sidebar_main_wide .title > h3{
	color: #FE2E2E;
	padding-bottom: 20px;
}
