#sidebar_rooms{
    width: 60px;
    height: 100%;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0);
    border-left: 0.5px solid rgba(255,255,255, 0);
    padding-top: 130px;
}

#sidebar_rooms ul li{
    padding: 10px;
    text-align: center
}

#sidebar_rooms ul li:hover{
    background-color: #FE2E2E;
	color: white;
    cursor: pointer;
}