#sidebar_room_detail{
    width: 300px;
    height: 100%;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-left: 0.5px solid rgba(255,255,255, 0.5);
}

h5{
    padding: 0 0 10PX 10px;
}

#realtime_value{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#evaluation{
    padding: 5px 0;
/*    background-color: rgba(127, 255, 0);*/
/*    background-color: rgba(50, 205, 125);*/
    grid-column-start: 1;
    grid-column-end: 3;
/*    background-color: rgba(0, 255, 127, 0.5);*/
    text-align: center;
}
#state{}
#rating{
    padding-top: 5px;
    font-size: 0.8em;
}

.value_box{
    padding: 5px 0;
    text-align: center;
    font-size: 0.8em;
/*    background-color: rgba(0, 255, 127, 0.5);*/
/*    border: 0.5px solid rgba(255,255,255, 0.5);*/
}

.value_box p{
    padding: 5px;
}
/*

#realtime_chart{
    margin-top: 20px;
}
*/

.value_name{
    padding: 10px;
}

.chart_box{
    padding: 5px 0;
}